body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App, h3 {
  text-align: center;
}

.delete-btn,
.item-text,
.edit-btn,
.edit-form,
.cancel-btn {
  display: inline-block;
}

input,
.item-text {
  padding: 8px 32px 8px 16px;
  border-radius: 5px 0 0 5px;
  border: 2px solid #5d0cff;
  outline: none;
  background: transparent;
}

.item-text {
  width: 250px;
  margin: 0 auto;
  text-align: left;
  margin-top: 5px;
  color: #fff;
  background: linear-gradient(90deg,
      rgb(47, 28, 58) 0%,
      rgb(170, 132, 245) 100%);
}

.add-btn,
.delete-btn,
.edit-btn,
.cancel-btn {
  padding: 10px 7px;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%);

  color: #fff;
  text-transform: capitalize;
}

.edit-btn {
  border-radius: 0;
}

.delete-btn,
.cancel-btn {
  background: linear-gradient(90deg,
      rgb(248, 7, 7) 0%,
      rgb(248, 88, 88) 100%);
}

.cancel-btn {
  border-radius: 5px;
  padding: 3px 5px 9px 5px;
  margin: 5px 0 10px 3px;
}
